@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

#hero {
  max-width: 100%;
  min-height: 900px;
  margin: 0 auto;
  display: flex;
  background-image: url("../../Assets//hero2.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin-bottom: 200px;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  image-rendering: -moz-crisp-edges; /* Firefox */
  -ms-interpolation-mode: nearest-neighbor; /* IE */
  image-rendering: crisp-edges; /* Стандартное свойство */
}

@media screen and (max-width: 768px) {
  #hero {
    background-position: center;
    background-size: auto;
  }
}
#hero > .hero__img > img {
  /* margin-left: 190px; */
  max-width: 890px;
  max-height: 611px;
}

.hero__titles {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 150%;
  /* or 45px */

  color: #4b5258;
  /* margin-top: 92px; */
  display: flex;
  flex-direction: column;
  margin: 92px auto;
  padding-right: 200px;
}

.hero__titles > h3 > span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  color: #4b5258;
}

.hero__titles > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  color: #4b5258;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.top__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
  background: #43aaff;
  /* КнопкаСвечение */

  box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  padding: 30px 31px;
  border: none;
}
.top__btn:hover {
  transition: all 0.5s;
  background: #ffc24d;
}

.bottom__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;

  background: #ffc24d;
  /* КнопкаСвечение */

  box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  border: none;
  padding: 30px 31px;
}

.bottom__btn:hover {
  transition: all 0.5s;
  background-color: #43aaff;
}
